<div class="container-fluid position-relative" style="z-index: 99999;">
	
</div>
<div class="container-fluid mb-3">
	<div class="row">
		<div class="col-md-12 bg-light border-bottom pt-5 pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Wardrobe</h2>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mb-5">
		<div class="col-md-3">
			<div class="card mb-4">
				<div class="card-header">Categories</div>
				<div class="list-group list-group-flush">
					<a href="#" class="list-group-item list-group-item-action">Topwear</a>
					<a href="#" class="list-group-item list-group-item-action active">Bottomwear</a>
					<a href="#" class="list-group-item list-group-item-action">Jacket</a>
					<a href="#" class="list-group-item list-group-item-action">Dress</a>
					<a href="#" class="list-group-item list-group-item-action">Sportswear</a>
					<a href="#" class="list-group-item list-group-item-action">Swimwear</a>
					<a href="#" class="list-group-item list-group-item-action">Accessories </a>
					<a href="#" class="list-group-item list-group-item-action">Uniforms </a>
					<a href="#" class="list-group-item list-group-item-action">Sandals</a>
					<a href="#" class="list-group-item list-group-item-action">Footwear</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header">Filter</div>
				<div class="card-body p-1">
					<div class="card border-0 b-3">
						<div class="card-header p-2 bg-white" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false">
							<p class="m-0 h6">Brand</p>
						</div>
						<div class="card-body p-0 collapse show" id="collapseExample1">
							<ul class="list-group list-group-flush" style="height:200px;overflow:auto;">
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Google</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Microsoft</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Apple</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Samsung</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Amazon</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Asus</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">LG</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Sony</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">MSI</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">HP</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Compact</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="card border-0 b-3">
						<div class="card-header p-2 bg-white" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false">
							<p class="m-0 h6">Size</p>
						</div>
						<div class="card-body p-0 collapse show" id="collapseExample2">
							<ul class="list-group list-group-flush" style="height:200px;overflow:auto;">
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">XXS</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">XS</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">S</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">M</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">L</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">XL</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">XXL</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="card border-0 b-3">
						<div class="card-header p-2 bg-white" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false">
							<p class="m-0 h6">Color</p>
						</div>
						<div class="card-body p-0 collapse show" id="collapseExample3">
							<ul class="list-group list-group-flush" style="height:200px;overflow:auto;">
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox w-100">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#E52B50"></div>
											<span>Amaranth</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox w-100">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#FFBF00"></div>
											<span>Amber</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#007FFF"></div>
											<span>Azure</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#007BA7"></div>
											<span>Cerulean</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#B87333"></div>
											<span>Copper</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#DC143C"></div>
											<span>Crimson</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#008000"></div>
											<span>Green</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#808080"></div>
											<span>Gray</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#FFD700"></div>
											<span>Gold</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#D1E231"></div>
											<span>Pear</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#800080"></div>
											<span>Purple</span>
										</label>
									</div>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">
											<div class="float-left p-2 mt-1 mr-1" style="background-color:#C0C0C0"></div>
											<span>Silver</span>
										</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="card border-0 b-3">
						<div class="card-header p-2 bg-white" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false">
							<p class="m-0 h6">Price</p>
						</div>
						<div class="card-body p collapse show" id="collapseExample4">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Min</label>
									<input class="form-control" placeholder="$0" type="number">
								</div>
								<div class="form-group text-right col-md-6">
									<label>Max</label>
									<input class="form-control" placeholder="$1,0000" type="number">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button type="button" class="btn btn-block btn-primary">Filter</button>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-5">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-secondary active"><i class="fas fa-th"></i></button>
								<button type="button" class="btn btn-secondary"><i class="fas fa-th-list"></i></button>
								<button type="button" class="btn btn-secondary">
									<i class="fas fa-sync-alt"></i>
									<span>Product Compare (0)</span>
								</button>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Sort By:</span>
								</div>
								<select class="form-control" id="" name="">
									<option value="">Default</option>
									<option value="">Name (A - Z)</option>
									<option value="">Name (Z - A)</option>
									<option value="">Price (Low &gt; High)</option>
									<option value="">Price (High &gt; Low)</option>
									<option value="">Rating (Highest)</option>
									<option value="">Rating (Lowest)</option>
									<option value="">Model (A - Z)</option>
									<option value="">Model (Z - A)</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Show:</span>
								</div>
								<select class="form-control" id="" name="">
									<option value="">15</option>
									<option value="">25</option>
									<option value="">50</option>
									<option value="">75</option>
									<option value="">100</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
	<div class="row">
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00 <s class="lead text-muted">$943.00</s></p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00 <s class="lead text-muted">$943.00</s></p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00 <s class="lead text-muted">$943.00</s></p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">Apple</small> Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00 <s class="lead text-muted">$943.00</s></p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
				</div>
				<div class="card-footer p-3">
					<div class="row">
						<div class="col-md-6">
							<ul class="pagination m-0">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<p class="text-right mb-0 mt-1">Showing 1 to 12 of 12 (1 Pages)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row mb-5">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<i class="float-left mr-3 fa-3x fas fa-shipping-fast"></i>
							<p class="h6">Free shipping & Return <br/><small class="text-muted">For all orders over $500</small></p>
						</div>
						<div class="col-md-3">
							<i class="float-left mr-3 fa-3x fas fa-thumbs-up"></i>
							<p class="h6">Customer Protection <br/><small class="text-muted">From click to delivery.</small></p>
						</div>
						<div class="col-md-3">
							<i class="float-left mr-3 fa-3x fas fa-umbrella"></i>
							<p class="h6">Safe Payment <br/><small class="text-muted">Use world’s most secure payment methods.</small></p>
						</div>
						<div class="col-md-3">
							<i class="float-left mr-3 fa-3x fas fa-life-ring"></i>
							<p class="h6">Support 24/7 <br/><small class="text-muted">We answer for question all time</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<p class="lead">We’ll never share your email address with a third-party.</p>
					<div class="input-group input-group-lg">
						<div class="input-group-prepend">
							<span class="input-group-text">Sign Up For Newsletter</span>
						</div>
						<input type="text" id="" name="" class="form-control" placeholder="Your email address" />
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button">Subscribe</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mb-5">
		<div class="col-md-2">
			<div class="card">
				<div class="card-header">Corporate</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item p-2">About Us</li>
					<li class="list-group-item p-2">Company Profile</li>
					<li class="list-group-item p-2">Blog</li>
					<li class="list-group-item p-2">Site Maps</li>
					<li class="list-group-item p-2">Contact Us</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-header">Services</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item p-2">Discounts</li>
					<li class="list-group-item p-2">Campaigns</li>
					<li class="list-group-item p-2">Brands</li>
					<li class="list-group-item p-2">Gift Certificates</li>
					<li class="list-group-item p-2">Returns</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-header">Account</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item p-2">Sign In</li>
					<li class="list-group-item p-2">Sign up</li>
					<li class="list-group-item p-2">My Account</li>
					<li class="list-group-item p-2">Order History</li>
					<li class="list-group-item p-2">Wish List</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-header">Support</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item p-2">FAQ</li>
					<li class="list-group-item p-2">Ticket</li>
					<li class="list-group-item p-2">Feedback</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">Contact Us</div>
				<div class="card-body">
					<p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
					<p class="m-0"><strong>Address</strong></p>
					<p>4710-4890 Breckinridge St, UK Burlington, VT 05401</p>
					<p class="m-0"><strong>Need Help?</strong></p>
					<p>Call: 1-800-345-6789</p>
				</div>
			</div>
		</div>
		<div class="col-md-12 mt-5 mb-5">
			<div class="card">
				<div class="card-body">
					<ul class="nav justify-content-center">
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-2x fab fa-facebook-f"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-2x fab fa-twitter"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-2x fab fa-instagram"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-2x fab fa-google-plus-g"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-2x fab fa-youtube"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-2x fab fa-pinterest"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-2x fab fa-linkedin-in"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Privacy Policy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Terms & Conditions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Site Map</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<p class="text-center">Copyright © 2019 Your Store All Right Reserved.</p>
		</div>
		<div class="col-md-4">
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fab fa-cc-diners-club"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fab fa-cc-amex"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fab fa-cc-discover"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fab fa-cc-jcb"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fab fa-cc-mastercard"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fab fa-cc-paypal"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fab fa-cc-visa"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>