<div class="categories">
  <h2>Clothing Categories</h2>
  <ul>
      <li>
          <div class="icon"><i class='bx bx-t-shirt'></i></div>
          <span>Shirts</span>
      </li>
      <li>
          <div class="icon"><i class='bx bx-trousers'></i></div>
          <span>Pants</span>
      </li>
      <li>
          <div class="icon"><i class='bx bx-dress'></i></div>
          <span>Dresses</span>
      </li>
      <li>
          <div class="icon"><i class='bx bx-shoe'></i></div>
          <span>Shoes</span>
      </li>
      <li>
          <div class="icon"><i class='bx bx-accessories'></i></div>
          <span>Accessories</span>
      </li>
      <!-- Ajoutez d'autres catégories selon vos besoins -->
  </ul>
</div>
