<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="card overflow-hidden">
    <div class="card-body p-0">
      <img src="https://www.bootdey.com/image/1352x300/00FFFF/000000" alt="" class="img-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 order-lg-1 order-2">
          <div class="d-flex align-items-center justify-content-around m-4">
            
            
            
          </div>
        </div>
        <div class="col-lg-4 mt-n3 order-lg-2 order-1">
          <div class="mt-n5">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle" style="width: 110px; height: 110px;">
                <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden" style="width: 100px; height: 100px;">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="w-100 h-100">
                </div>
              </div>
            </div>
            <div class="text-center">
              <h5 class="fs-5 mb-0 fw-semibold">Mathew Anderson</h5>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab" tabindex="0">
      <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
        <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">
         


          Wardrobe
        </h3>
        <div class="d-flex align-items-center gap-3">
          <label for="inputGroupFile02" class="btn btn-outline-primary mb-0">
            <i class="fa fa-plus"></i>
          </label>
          <input type="file" class="form-control" id="inputGroupFile02" style="display: none;">
          <button class="btn btn-outline-primary">Add New Album</button>
        </div>
      </div>


      <div class="row g-3">

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card p-2 shadow-sm border-0">
            <div class="position-relative">
              <a href="javascript:void(0)">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top rounded-lg" alt="...">
                <span class="badge bg-primary rounded-pill position-absolute top-0 end-0">Featured</span>
              </a>
              <div class="card-body py-3">
                <h5 class="card-title mb-0 fw-semibold">Featured Album</h5>
                <p class="card-text">5 Photos</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card p-2 shadow-sm border-0">
            <div class="position-relative">
              <a href="javascript:void(0)">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top rounded-lg" alt="...">
              </a>
              <div class="card-body py-3">
                <h5 class="card-title mb-0 fw-semibold">Album One</h5>
                <p class="card-text">8 Photos</p>
                <button type="button" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card p-2 shadow-sm border-0">
            <div class="position-relative">
              <a href="javascript:void(0)">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top rounded-lg" alt="...">
              </a>
              <div class="card-body py-3">
                <h5 class="card-title mb-0 fw-semibold">Album Two</h5>
                <p class="card-text">12 Photos</p>
                <button type="button" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab" tabindex="0">
      
      <div class="row g-3">

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card p-2 shadow-sm border-0">
            <div class="position-relative">
              <a href="javascript:void(0)">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top rounded-lg" alt="...">
                <span class="badge bg-primary rounded-pill position-absolute top-0 end-0">Featured</span>
              </a>
              <div class="card-body py-3">
                <h5 class="card-title mb-0 fw-semibold">Featured Album</h5>
                <p class="card-text">5 Photos</p>
                <button type="button" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card p-2 shadow-sm border-0">
            <div class="position-relative">
              <a href="javascript:void(0)">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top rounded-lg" alt="...">
              </a>
              <div class="card-body py-3">
                <h5 class="card-title mb-0 fw-semibold">Album One</h5>
                <p class="card-text">8 Photos</p>
                <button type="button" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card p-2 shadow-sm border-0">
            <div class="position-relative">
              <a href="javascript:void(0)">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top rounded-lg" alt="...">
              </a>
              <div class="card-body py-3">
                <h5 class="card-title mb-0 fw-semibold">Album Two</h5>
                <p class="card-text">12 Photos</p>
                <button type="button" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
