
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-navbar></app-navbar>
    <app-header></app-header>
    <app-home-service></app-home-service>
    <app-how-it-work></app-how-it-work>
    <app-footer></app-footer>
    </body>
    </html>
    